* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.bg1 {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  height: 90vh;
}

.img {
  width: 99vw;
  height: 90vh;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
}

#h1-hero {
  font-size: 66px;
  font-weight: 900;
  padding: 15px;
  color: rgb(27, 27, 222);
  opacity: 1;
  z-index: 1;
}

#h5-hero {
  font-size: 24px;
  padding: 5px 24vw;
  opacity: 1;
  z-index: 1;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.btn-blue {
  background-color: rgb(27, 27, 222);
  color: rgb(230, 235, 240);
}

.btn-red {
  background-color: rgb(255, 39, 39);
  color: rgb(230, 235, 240);
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-small {
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
}

.btn-large {
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 18px;
}

#btn-index-1 {
  z-index: 1;
  margin-top: 20px;
}

.input {
  display: flex;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
  border-color: black;
  border: 1px solid;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 15vw;
  width: 69vw;
  height: 6vh;
  background-color: rgb(27, 27, 222);
}

.nav-bar>h1 {
  font-size: 48px;
  font-weight: bolder;
  color: rgb(230, 230, 230);
  text-align: center;
  align-self: center;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(253, 249, 245);
  height: 35vh;
  width: 17vw;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(27, 27, 222);
}

.login-form>p {
  align-self: flex-end;
  font-size: 14px;
}

.login-form>div {
  height: 10vh;
}

.login-form>div>h3 {
  font-size: 28px;
  font-weight: bold;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(253, 249, 245);
  height: 40vh;
  width: 17vw;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(27, 27, 222);
}

.register-form>p {
  align-self: flex-end;
  font-size: 14px;
}

.register-form>div {
  height: 10vh;
}

.register-form>div>h3 {
  font-size: 28px;
  font-weight: bold;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding: 15vh 15vw 0 15vw;
}

.content-container-last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding: 15vh 15vw 20vh 15vw;
}

.content-container>div {
  width: 500px;
}

.h3-content {
  font-size: 48px;
  font-weight: 800;
  color: rgb(27, 27, 222);
}

.p-content {
  font-size: 20px;
  padding: 25px 0;
  font-weight: 500;
}

#p-smaller {
  width: 450px;
}

.img-ctn1 {
  max-width: 80%;
  height: auto;
}

.img-ctn2 {
  max-width: 100%;
  height: auto;
}

.img-ctn3 {
  max-width: 65%;
  height: auto;
}

.img-align {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: rgb(28, 28, 28);
  color: rgb(253, 249, 245);
}

.footer>div>ul {
  list-style-type: none;
}